/* 전체 화면 설정 */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000;
}

#success_img{
	position: absolute;
	display: none;
	z-index: 2;
	width: 100%;
    height: 100%;
}

.coin-container {
    display: flex;
    align-items: center;
    gap: 5px; /* 코인 간격 */
}
.coin-container img {
    width: 2vw; /* 코인 이미지 크기 */
    height: 5vh;
	bottom:0;
}


/* 배경 이미지 */
#img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* 로그인 폼 */
#loginForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1vw;
    color: #fff;
    font-size: 1.5vw;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label, username, password {
    margin-bottom: 1vh;
}

#username {
    padding: 1vh;
    font-size: 1.2vw;
    border: 1px solid #ddd;
    border-radius: 0.5vw;
	margin-bottom: 1vh;
}

#password {
    padding: 1vh;
    font-size: 1.2vw;
    border: 1px solid #ddd;
    border-radius: 0.5vw;
	margin-bottom: 1vh;
}

#loginButton {
    padding: 1.5vh;
    font-size: 1.2vw;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
	margin-bottom: 1vh;
}

#loginButton:hover {
    background-color: #F15F5F;
}

#coin{
	position: absolute;
	z-index: 2;
}


/* 보유금 표시 */
#balance {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 2vw;
    text-align:center;
    color: #ffd400;
	font-weight: bold;
    display: none;
	z-index: 1;
}

/* 게임 영역 */
#gameArea {
    width: 59vw;
    height: 100vh;
    position: relative;
    z-index: 1;
	top: 0vw;
	left: 3vw;	
}

#game_bg_1{
	position: absolute;
	top: 22.5vh;
	left: 3vw;
	width: 60vw;
    height: 10vh;
}

#game_bg_2{
	position: absolute;
	top: 42.5vh;
	left: 3vw;
	width: 60vw;
    height: 10vh;
}

#game_bg_3{
	position: absolute;
	top: 62.5vh;
	left: 3vw;
	width: 60vw;
    height: 10vh;
}

#rr_img{
	position: absolute;
}

/* 달팽이 이미지 */
.snail {
    width: 5vw;
    height: 5vh;
    position: absolute;
    transition: left 0.1s linear;
}

#snail1 { top: 26%; }
#snail2 { top: 46%; }
#snail3 { top: 66%; }


/*선택창 gif 달팽이*/
#snail1_img{
	position: absolute;
	width: 4vw;
    height: 6vh;
	top: 3vh;
	left: 4vw;
}

#snail1_button{
	position: absolute;
	width: 4vw;
    height: 3vh;
	top: 10vh;
	left: 4vw;
	border: 0.15vw solid #ccc; /* 테두리 추가 */
    border-radius: 1.5vw; /* 둥근 모서리 */
	font-size: 0.8vw; /* 텍스트 크기 동일 */
    text-align: center; /* 중앙 정렬 */
	background-color: #ffffff;
	font-weight: bold;
}


#snail2_img{
	position: absolute;
	width: 4vw;
    height: 6vh;
	top: 3vh;
	left: 11vw;
}

#snail2_button{
	position: absolute;
	width: 4vw;
    height: 3vh;
	top: 10vh;
	left: 11vw;
	border: 0.15vw solid #ccc; /* 테두리 추가 */
    border-radius: 1.5vw; /* 둥근 모서리 */
	font-size: 0.8vw; /* 텍스트 크기 동일 */
    text-align: center; /* 중앙 정렬 */
	background-color: #ffffff;
	font-weight: bold;
}

#snail3_img{
	position: absolute;
	width: 4vw;
    height: 6vh;
	top: 3vh;
	left: 18.5vw;
}

#snail3_button{
	position: absolute;
	width: 4vw;
    height: 3vh;
	top: 10vh;
	left: 18.5vw;
	border: 0.15vw solid #ccc; /* 테두리 추가 */
    border-radius: 1.5vw; /* 둥근 모서리 */
	font-size: 0.8vw; /* 텍스트 크기 동일 */
    text-align: center; /* 중앙 정렬 */
	background-color: #ffffff;
	font-weight: bold;
}

#snail1_button:hover {
    background-color: #BDBDBD;
}

#snail2_button:hover {
    background-color: #BDBDBD;
}

#snail3_button:hover {
    background-color: #BDBDBD;
}

/*선택한 달팽이*/
#batting_main{
	position: absolute;
	z-index: 3;
	height: 17vh;
	width: 45vw;
	top: 76vh;
	left: 2.5vw;
	padding: 2vh;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 1vw;
}

#select_snail_text {
	position: absolute;
	font-size: 1vw;
	color: #ffffff;
	z-index: 3;
	font-weight: bold;
	left: 25vw;
	top: 2.5vh;
}

#select_snail {
    position: absolute;
    top: 5.5vh;
	width: 10vw; /* 동일한 폭 */
    height: 4vh; /* 동일한 높이 */
	font-size: 1vw; /* 텍스트 크기 동일 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
	background-color: #F8FFFF;
	align-items: center; /* 세로 정렬 */
	line-height: 4vh; /* 텍스트 수직 정렬 */
	z-index: 2;
	font-weight: bold;
	left: 25vw;
}

#betting_coin_text {
	position: absolute;
	top: 11vh;
	font-size: 1vw;
	color: #ffffff;
	z-index: 3;
	font-weight: bold;
	left: 25vw;
}

#betting_coin {
    position: absolute;
    top: 14vh;
	width: 10vw; /* 동일한 폭 */
    height: 4vh; /* 동일한 높이 */
	font-size: 1vw; /* 텍스트 크기 동일 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
	background-color: #F8FFFF;
	align-items: center; /* 세로 정렬 */
	line-height: 4vh; /* 텍스트 수직 정렬 */
	z-index: 2;
	font-weight: bold;
	left: 25vw;
}

#batting_end{
	position: absolute;
	z-index: 3;
	height: 17vh;
	width: 12vw;
	top: 76vh;
	left: 50vw;
	padding: 2vh;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 1vw;
}

#winner_snail_text {
	position: absolute;
	font-size: 1vw;
	color: #ffffff;
	z-index: 3;
	font-weight: bold;
	top: 2.5vh;
	left: 2vw;
}

#winner_snail {
    position: absolute;
    top: 5.5vh;
	width: 10vw; /* 동일한 폭 */
    height: 4vh; /* 동일한 높이 */
	font-size: 1vw; /* 텍스트 크기 동일 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
	background-color: #F8FFFF;
	align-items: center; /* 세로 정렬 */
	line-height: 4vh; /* 텍스트 수직 정렬 */
	z-index: 2;
	font-weight: bold;
	left: 2vw;
}

#get_coin_text {
	position: absolute;
	top: 11vh;
	font-size: 1vw;
	color: #ffffff;
	z-index: 3;
	font-weight: bold;
	left: 2vw;
}

#get_coin {
    position: absolute;
    top: 14vh;
	width: 10vw; /* 동일한 폭 */
    height: 4vh; /* 동일한 높이 */
	font-size: 1vw; /* 텍스트 크기 동일 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
	background-color: #F8FFFF;
	align-items: center; /* 세로 정렬 */
	line-height: 4vh; /* 텍스트 수직 정렬 */
	z-index: 2;
	font-weight: bold;
	left: 2vw;
}


/* 배팅 */
#rs_button {
    top: 3.5vh;
    left: 37vw;
    width: 8.5vw; /* 동일한 폭 */
    height: 15vh; /* 동일한 높이 */
    font-size: 1.6vw; /* 텍스트 크기 동일 */
    text-align: center; /* 중앙 정렬 */
    position: absolute; /* 위치 고정 */
    z-index: 3; /* z-index 동일 */
    border: 0.13vw solid #ffffff; /* 테두리 추가 */
    border-radius: 1vw; /* 둥근 모서리 */
	background-color: #BDBDBD;
	font-weight: bold;
	
}

#rs_button:hover {
    background-color: #8C8C8C; /* 호버 시 진한 초록 */
}

/* 입력 */
#betAmountSnail {
    top: 14.5vh;
	left: 3vw;
    width: 20vw; /* 동일한 폭 */
    height: 4vh; /* 동일한 높이 */
    font-size: 1.1vw; /* 텍스트 크기 동일 */
    text-align: center; /* 중앙 정렬 */
    position: absolute; /* 위치 고정 */
    z-index: 3; /* z-index 동일 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
	font-weight: bold;
	color: #000000;
}


/* 달팽이 선택 버튼 */
#snail_b img {
    width: 3.5vw;
    height: 4.7vh;
    margin: 1vw;
    cursor: pointer;
	position:absolute;
}
/*
#rs_img {
    width: 15vw;
    height: 10vh;
    position: absolute;
    top: 15vh;
    left: 7.5vw;
	cursor: pointer;
    z-index: 1;
}
*/
#restart_Button {
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 70vh;
    left: 40vw;
	display:none;
	z-index: 2;
	cursor: pointer;
    z-index: 3;
}

#backButton {
    width: 10vw;
    height: 5vh;
    position: absolute;
    top: 0vh;
    left: 0vw;
	cursor: pointer;
    z-index: 1;
}

/* 결과 이미지 */
#ending_img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

/* 특정 달팽이 버튼 위치 */
#snail1_b {
    position: absolute;
    left: 27vw;
    top: 32.5vh;
    width: 6vw;
    height: 6vh;
    cursor: pointer;
	z-index: 2;
}

#snail2_b {
    position: absolute;
    left: 27vw;
    top: 54vh;
    width: 6vw;
    height: 6vh;
    cursor: pointer;
	z-index: 2;
}

#snail3_b {
    position: absolute;
    left: 27vw;
    top: 75.5vh;
    width: 6vw;
    height: 6vh;
    cursor: pointer;
	z-index: 2;
}


/*컬렉션 북*/
#container {
	position: absolute;
	top: 20vh;
	left: 67vw;
    height: 73vh;
	width: 29vw;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
	display:flex;
	z-index: 3;
	text-align: center;
	font-size: 1.2vw;
	font-weight: bold;
	color: #ffffff;
}


#drawButton {
	top: 70vh;
	left: 12vw;
	position: absolute;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#drawButton:hover {
    background-color: #45a049;
}

#newItem{
	position: absolute;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
	top: 50vh;
	left: 1vw;
	height: 15.5vh;
	width: 28vw;
	color:#000000;
	font-size:1vw;
}

#selectedItem_img{
	height: 8vh;
	width: 8vw;
}

#newItem_text{
	position: absolute;
	top: 46vh;
	left: 1vw;
	height: 15vh;
	width: 28vw;
}

#collectionBook {
	position: absolute;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
	top: 7vh;
}

#collectionList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
	height: 35vh;
	width: 28vw;
}

#itemDisplay{
	position: absolute;
	top: 50vh;
	left : 0vw;
	padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.item {
    width: 6.5vw;
    height: 9.5vh;
    position: relative;
}

.item img {
    width: 6.8vw;
    height: 11vh
}

.item .blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.3vw;
    height: 11vh;
    overflow: hidden;
    background-size: 6vw 11vh;
    background-image: url('img/collection/whatping.png'); /* 블라인드 이미지 */
}



/*도움말*/
/* 버튼 스타일 */
#help-button {
	top: 21vh;
	left: 94.5vw;
	position: absolute;
	width: 3vw;
	height: 5vh;
	border: none;
	border-radius: 15%;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	font-size: 1.5vw;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index:3;
	border: 0.15vw solid #fff; /* 테두리 추가 */
}

/* 모달 백그라운드 */
#modal {
  display: none; /* 초기에는 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
}

/* 모달 내용 */
.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* 페이지 선택 탭 */
.page-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* 페이지 공통 스타일 */
.page {
  display: none;
}

.page.active {
  display: block;
}

/* 이미지 스타일 */
.modal-image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* 닫기 버튼 */
.close-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.close-button:hover {
  background-color: #5D5D5D;
}
