/* 전체 화면 설정 */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000;
}

#success_img{
	position: absolute;
	display: none;
	z-index: 2;
	width: 100%;
    height: 100%;
}

/* 배경 이미지 */
#img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* 로그인 폼 */
#loginForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1vw;
    color: #fff;
    font-size: 1.5vw;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label, input, button {
    margin-bottom: 1vh;
}

input {
    padding: 1vh;
    font-size: 1.2vw;
    border: 1px solid #ddd;
    border-radius: 0.5vw;
}

button {
    padding: 1.5vh;
    font-size: 1.2vw;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}

button:hover {
    background-color: #F15F5F;
}

/* 보유금 표시 */
#balance {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 2vw;
    color: #ff0000;
    display: none;
	z-index: 1;
}

/* 게임 영역 */
#gameArea {
    width: 59vw;
    height: 70vh;
    position: relative;
    z-index: 1;
	top: 10vw;
	left: 32.5vw;
}

#rr_img{
	position: absolute;
}

/* 달팽이 이미지 */
.snail {
    width: 5vw;
    height: 5vh;
    position: absolute;
    transition: left 0.1s linear;
}

#snail1 { top: 15%; }
#snail2 { top: 46%; }
#snail3 { top: 76%; }

/* 베팅 금액 입력 필드 */
#betAmountSnail {
    font-size: 1.5vw;
    position: absolute;
    top: 50vh;
    left: 5vw;
    text-align: center;
}

/* 달팽이 선택 버튼 */
#snail_b img {
    width: 3.5vw;
    height: 4.7vh;
    margin: 1vw;
    cursor: pointer;
	position:absolute;
}

/* 레이스 시작, 재시작, 뒤로 가기 버튼 */
#rs_img, #restart_Button, #backButton {
    cursor: pointer;
    z-index: 1;
}

#rs_img {
    width: 15vw;
    height: 10vh;
    position: absolute;
    top: 55vh;
    left: 7.5vw;
}

#restart_Button {
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 70vh;
    left: 40vw;
	display:none;
	z-index: 2;
}

#backButton {
    width: 10vw;
    height: 5vh;
    position: absolute;
    top: 0vh;
    left: 0vw;
}

/* 결과 이미지 */
#ending_img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

/* 특정 달팽이 버튼 위치 */
#snail1_b {
    position: absolute;
    left: 27vw;
    top: 32.5vh;
    width: 6vw;
    height: 6vh;
    cursor: pointer;
}

#snail2_b {
    position: absolute;
    left: 27vw;
    top: 54vh;
    width: 6vw;
    height: 6vh;
    cursor: pointer;
}

#snail3_b {
    position: absolute;
    left: 27vw;
    top: 75.5vh;
    width: 6vw;
    height: 6vh;
    cursor: pointer;
}
